doctype html
html(lang="en")
  include partials/head
  body
    if messages.error 
      span=messages.error
    if messages.info 
      span=messages.info
    if messages.success 
      span=messages.success
    include partials/header
    main
      block content
    include partials/footer
  block scripts
    script(src="/static/js/main.js")